:root {
  --Azul: #046bd2;
  --AzulOscuro: #0d3878;
  --Blanco: #ffffff;
  --BlancoTransparencia: #ffffff8b;
  --Plomo: #22303d;
  --PlomoClaro: #e6e8e9;
  --PlomoLetra: #5c5c5c;
  --Verde: #00b341;
  --VerdeOscuro: #00ab3f;

  --FondoBlanco: #f6fbff;
  --FondoGris: #8d9eba;

  --Amarillo: #fcc63b;
  --Amarillo2: #fbe969;
  --Amarillo3: #d5b644;
  --Naranjo: #ff8000;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  background-color: var(--FondoBlanco);
}

* {
  /* Fuente de texto de google */
  font-family: nunito;
}

.fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

/* Tarjeta de juegos */
.emircinix {
  width: 100%;
}

@media (max-width: 768px) {
  .emircinix {
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    width: 100%;
    height: 100%;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    transform: scale(2); /* Amplía visualmente */
    transform-origin: center;
  }
}
.tarjetas {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .tarjetas {
    flex-direction: column;
    align-items: center; /* Centra las tarjetas verticalmente */
    gap: 2rem; /* Menor espacio en móvil si querés */
  }
}

.card-title {
  font-size: 3rem;
  text-align: center;
}
.card-text {
  font-size: 1.5rem;
  text-align: center;
}
.btn {
  font-size: 2rem !important;
  background-color: green !important;
  border: none !important;
}
.btn:hover {
  background-color: #fbfd00 !important;
  color: black !important;
}
.div_btn {
  display: flex;
  justify-content: center;
}
.card-img-top {
  height: 18rem;
}
.play {
  width: 15rem;
  cursor: pointer;
}
