body {
  margin: 0;
  background: url(./img/fondo_mario.jpg) center / contain no-repeat;
  overflow: hidden;
  position: relative;
}
/* Capa semitransparente encima del fondo */
body::before {
  content: "";
  position: fixed; /* Cubre toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 26, 25, 0.6); /* Color con opacidad */
  pointer-events: none; /* Deja pasar clics hacia abajo */
  z-index: 0;
}

* {
  font-family: "Rubik", sans-serif;
}

.fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.volver {
  position: fixed;
  bottom: 60px;
  right: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

#reiniciar {
  padding: 0.2rem;
}

.flex_menu {
  display: flex;
  justify-content: space-around;
  background-color: #05d1fe;
}

#wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#game {
  margin-top: 40px;
  width: 1200px;
  max-height: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#stats {
  margin-top: 60px;
  color: white;
  position: absolute;
  text-align: center;
  width: calc(100% - 2rem);
  font-size: 3rem;
}

.card {
  width: 200px;
  height: 140px;
  margin: 1rem;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.active {
  transform: rotateY(180deg);
}

.card div {
  background: #0060ad;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
}

.card .face {
  background: #0060ad;
  transform: rotateY(180deg);
  color: black;
  font-size: 3rem;
}

.card .back {
  border: 3px solid #0060ad;
  width: 200px;
  background: url(./img/bloque.png) center / contain no-repeat;
}

.card .back:hover {
  border: 3px solid red;
}

.fullscreen {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.volver {
  position: fixed;
  bottom: 60px;
  right: 20px;
  cursor: pointer;
}
